@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.x-notify {
  position: relative;
  /*margin: 4px;*/
  padding: 6px;
  min-width: 150px;
  min-height:64px;
  overflow:hidden;
  line-height: 18px;
  font-size: 11px;
  border: 1px solid;
  border-color: rgb(60, 60, 60);
  box-shadow:rgba(20, 20, 20, 0.4) 0px 3px 8px 0px;
  cursor:move;
  }
  
.x-notify-img {
  float: left;
  position: absolute;
  margin: -6px 14px -6px -6px;
  width: 64px;
  height: 100%;
  border-right: 1px solid rgba(17, 17, 17, 0.4);
  cursor:move;
  line-height: 60px;
  font-size: 48px;
  text-align: center;
  text-shadow: 3px 2px 3px #222;
}
  
.x-notify-content {
  height: 100%;
}

.x-notify-close {
  position: absolute;
  top: 4px;
  right: 4px;
  padding:0px 0px 2px 2px;
  font-size:16px;
  cursor:pointer;
  color: rgb(5,5,5);  
}
.x-notify-close:hover {text-shadow: 1px 1px 1px darkgrey;}

.x-notify-text {
  margin: 0px;
  padding-right:14px;
  line-height: 18px;
  font-size: 11px;
  font-weight: normal;
}

.x-notify-header{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  line-height: 22px;
  font-size: 13px;
  font-weight: bold;
}

.x-notify-btn {
  position: absolute;
  bottom  :2px;
  left    :78px;
  right   : 2px;
  list-style: none; 
  padding : 0; 
  margin  : 0; 
  display : block; 
}

.x-notify-btn li {
    float  : right; 
	margin : 0 3px 3px 0;
    padding: 4px 10px;
    display: none;
    color: #9fa8b0;
    font-weight: bold;
    text-shadow: 1px 1px #1f272b;
    border: 1px solid #1c252b;
    border-radius: 3px;
    cursor:pointer;
    background: #232B30;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.x-notify-btn li:hover {
    color: #fff;
    background: #4C5A64; /* old browsers */
    background: linear-gradient(to bottom, #4C5A64 3%, #404F5A 4%, #2E3940 100%);
}
